﻿<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Online Shopping</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Super Market, Online Shopping" />

	<!-- //for-mobile-apps -->
	<link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.css">
	<!-- font-awesome icons -->
	<link href="~/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- js -->
	<script src="~/js/jquery-1.11.1.min.js"></script>
	<!-- //js -->
</head>

<body>
	<!-- header -->
	<partial name="DoXuanTrang_Header"/>
	<!-- //header -->
	<!-- main navigation -->
	<partial name="DoXuanTrang_Nav" />
	<!-- //main navigation -->
	<!-- filter -->
	@await Component.InvokeAsync("Render")
	<!-- //filter -->
	<!--- main content --->
	@RenderBody()
	<!--- main content --->
	<!-- footer -->
	<partial name="DoXuanTrang_Footer" />
	<!-- //footer -->
	<script src="~/js/jquery-1.11.1.min.js"></script>
</body>
</html>