﻿@{
	ViewData["Title"] = "Index";
}
@model IEnumerable<Product>
<div class="content">
	<div class="products">
		<div class="container">
			<!-- left categories -->
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul class="cate">
						<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Fruits And Vegetables</a></li>

						<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>Grocery & Staples</a></li>

						<li><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i>PersonalCare</a></li>
					</ul>
				</div>
			</div>
			<!-- /left categories -->
			<!-- right products grid -->
			<div class="col-md-8 products-right">
				<div class="agile_top_brands_grids">
					@foreach (var i in Model)
					{
						<div class="col-md-4 top_brand_left">
							<div class="hover14 column">
								<div class="agile_top_brand_left_grid">
									<div class="agile_top_brand_left_grid_pos">
										<img src="images/offer.png" alt=" " class="img-responsive">
									</div>
									<div class="agile_top_brand_left_grid1">
										<figure>
											<div class="snipcart-item block">
												<div class="snipcart-thumb">
													<a href="single.html"><img title=" " alt=" " src="~/images/@i.Image"></a>
													<p>@i.Name</p>
													<h4>@i.UnitPrice <span>$55.00</span></h4>
												</div>
												<div class="snipcart-details top_brand_home_details">
													<form action="#" method="post">
														<fieldset>
															<input type="hidden" name="cmd" value="_cart">
															<input type="hidden" name="add" value="1">
															<input type="hidden" name="business" value=" ">
															<input type="hidden" name="item_name" value="Fortune Sunflower Oil">
															<input type="hidden" name="amount" value="35.99">
															<input type="hidden" name="discount_amount" value="1.00">
															<input type="hidden" name="currency_code" value="USD">
															<input type="hidden" name="return" value=" ">
															<input type="hidden" name="cancel_return" value=" ">
															<input type="submit" name="submit" value="Add to cart" class="button">
														</fieldset>
													</form>
												</div>
											</div>
										</figure>
									</div>
								</div>
							</div>
						</div>
					}

					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
			<!-- right products grid -->
		</div>
	</div>
</div>

