﻿<!DOCTYPE HTML>
<head>
	<title>Free Home Shoppe Website Template | Home :: w3layouts</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/css/slider.css" rel="stylesheet" type="text/css" media="all" />
	<script type="~/text/javascript" src="~/js/jquery-1.7.2.min.js"></script>
	<script type="~/text/javascript" src="~/js/startstop-slider.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
	<!-- Begin Wrap -->
	<div class="wrap">
		<!-- Begin Header -->
		<partial name="DoXuanTrang_Header"/>
		<!-- End Header -->
		<!-- Begin Main -->
		@RenderBody()
		<!-- End Main -->
	</div>
	<!-- End Wrap -->
	<!-- Begin Footer -->
	<partial name="DoXuanTrang_Footer"/>
	<!-- End Footer -->
	@RenderSection("Scripts",required:false)
</body>
